<a
	href='https://discord.gg/jBhW6cwGWN'
	target='_blank'
	class='red-component discord bg-indigo-950/20 hover:bg-indigo-700/40 border-indigo-700'>
	<img src='discord.svg' alt='discord' class='logo-size' />
</a>
<style>
	.discord {
		grid-area: discord;
		border-radius: 10px;
	}
</style>
