<a
	href='https://discord.gg/jBhW6cwGWN'
	target='_blank'
	class='discord backdrop-blur-xl bg-indigo-950/20 hover:bg-indigo-700/40 text-white rounded-[10px] flex flex-col justify-center items-center'>
	<img src='discord.svg' alt='discord' class='w-[100px] h-[100px]' />
</a>
<style>
	.discord {
		grid-area: discord;
		border-radius: 10px;
	}
</style>
