<section
	class='profile backdrop-blur-xl bg-black/20 text-white rounded-[10px] flex flex-col justify-center items-center border-4 border-[#5d5d5d]'>
	<img
		src='dorado.webp'
		alt='profile'
		class='rounded-full w-60 p-6 outline outline-4 outline-white'
	/>
	<h1 class='font-bold text-4xl my-4'>Spectrasonic</h1>
	<h2 class='font-bold text-xl my-4'>Contact Page</h2>
	<a
		target='_blank'
		href='#'
		class='px-4 py-2 bg-rose-600 hover:bg-rose-900 rounded-md'>Portfolio</a
	>
	<h2 class='flex my-4'>
		<img
			id='copybutton'
			onclick='copycommand()'
			class='mx-1'
			src='code.svg'
		/> with <img class='mx-1' src='heart.svg' /> by <span
			class='font-bold mx-1'>
			Spectrasonic</span
		>
	</h2>
</section>

<style>
	.profile {
		grid-area: profile;
	}
</style>

<script is:inline>
	function copycommand() {
		navigator.clipboard.writeText(
			'bash -c "$(curl -fsSL https://gitlab.com/Spectrasonic/dotfiles/-/raw/master/Scripts/configure_ssh.sh)"'
		);
		// console.log(command);
		// alert('¯\\_(ツ)_/¯');
	}
</script>
