<a
	href='#'
	target='_blank'
	class='Servers backdrop-blur-xl bg-slate-950/20 hover:bg-slate-500/40 text-white rounded-[10px] flex flex-col justify-center items-center transition border-4 border-slate-500'>
	<img
		src='iso_white.svg'
		alt='Nine Block Studio Logo'
		class='w-[180px] h-[180px]'
	/>
	<h1 class='font-bold text-2xl'>NineBlock Studio Servers</h1>
</a>
<style>
	.Servers {
		grid-area: Servers;
		border-radius: 10px;
	}
</style>
