<a
	href='https://x.com/nineblockstudio'
	target='_blank'
	class='red-component servers bg-slate-950/20 hover:bg-slate-500/40 border-slate-500'>
	<img
		src='iso_white.svg'
		alt='Nine Block Studio Logo'
		class='w-[180px] h-[180px]'
	/>
	<h1 class='font-bold text-2xl text-pretty text-center'>
		Minecraft Servers by NineBlock Studio
	</h1>
</a>
<style>
	.servers {
		grid-area: 1 / 2 / 2 / 4;
		text-wrap: pretty;
	}
</style>
