<a
	href='https://x.com/spectrasonic117'
	target='_blank'
	class='twitter backdrop-blur-xl bg-blue-950/20 hover:bg-blue-500/40 text-white rounded-[10px] flex flex-col justify-center items-center transition border-4 border-blue-500'>
	<img src='twitter.svg' alt='twitter logo' class='w-[100px] h-[100px]' />
</a>

<style>
	.twitter {
		grid-area: twitter;
		border-radius: 10px;
	}
</style>
