---
import Profile from '../components/buttons/profile.astro';
import Servers from '../components/buttons/servers.astro';
import Twitter from '../components/buttons/twitter.astro';
import Twitch from '../components/buttons/twitch.astro';
import Instagram from '../components/buttons/instagram.astro';
import Gitlab from '../components/buttons/Gitlab.astro';
import Discord from '../components/buttons/discord.astro';
import Github from '../components/buttons/github.astro';
---

<div
	class='p-4 flex justify-center flex-nowrap flex-col gap-4 md:flex-row md:flex-wrap'>
	<div class='flex-col gap-4 flex w-full md:justify-center md:flex-row'>
		<Profile />
		<Servers />
	</div>
	<Twitter />
	<Twitch />
	<Github />
	<Instagram />
	<Gitlab />
	<Discord />
</div>
