---
import Profile from '../components/buttons/profile.astro';
import Servers from '../components/buttons/servers.astro';
import Twitter from '../components/buttons/twitter.astro';
import Twitch from '../components/buttons/twitch.astro';
import Instagram from '../components/buttons/instagram.astro';
import Gitlab from '../components/buttons/Gitlab.astro';
import Discord from '../components/buttons/discord.astro';
import Github from '../components/buttons/github.astro';
---

<div
	class='container rounded-[20px] md:border-4 md:border-white gap-4 p-[10px] z-50 overflow-hidden grid grid-flow-row w-full h-full sm:border-0 sm:grid-flow-col sm:gap-4 sm:grid-flow-column'>
	<Profile />
	<Servers />
	<Twitter />
	<Twitch />
	<Instagram />
	<Gitlab />
	<Discord />
	<Github />
</div>

<style>
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			'profile Servers Servers discord'
			'profile twitter twitch Github'
			'profile instagram gitlab Github';
	}

	@media screen and (width: <= 425px) {
		.container {
			width: 425px;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-template-areas:
				'profile'
				'Servers'
				'Servers'
				'discord'
				'profile'
				'twitter'
				'twitch'
				'Github'
				'profile'
				'instagram'
				'gitlab'
				'Github';
		}
	}
</style>
