---
import Profile from '../components/buttons/profile.astro';
import Servers from '../components/buttons/servers.astro';
import Twitter from '../components/buttons/twitter.astro';
import Twitch from '../components/buttons/twitch.astro';
import Instagram from '../components/buttons/instagram.astro';
import Gitlab from '../components/buttons/Gitlab.astro';
import Discord from '../components/buttons/discord.astro';
import Github from '../components/buttons/github.astro';
---

<div
	class='container rounded-[20px] md:border-4 md:border-white gap-[10px] p-[10px] z-10 overflow-hidden grid grid-flow-row backdrop-blur-[50px] w-[1400px] h-[800px] sm:border-0 sm:grid-flow-col sm:gap-[10px]'>
	<Profile />
	<Servers />
	<Twitter />
	<Twitch />
	<Instagram />
	<Gitlab />
	<Discord />
	<Github />
</div>

<style>
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			'profile Servers Servers discord'
			'profile twitter twitch Github'
			'profile instagram gitlab Github';
	}

	@media (max-width: 425px) {
		.container {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-template-areas:
				'profile'
				'Servers'
				'twitter'
				'twitch'
				'instagram'
				'gitlab'
				'Github';
		}
	}
</style>
